body{
  font-family: sans-serif;
}
header{
  background-color: #eee;
  padding: 10px;
  text-align: center;
  font-family: comic sans ms;
}
#the_body{
  margin: 10px 10%;
}
footer > div:nth-of-type(1){
  display: flex;
  width: 200px;
}
footer > div > a{
  flex: 1 100px;
}
footer > div:nth-of-type(2){
  background-color: #eee;
  padding: 10px;
  margin: 10px;
}