a{
    font-size: 25px;
    text-decoration: none;
    color: blue;
    position: absolute;
}
.header{
  font-size: 25px;
}
.germany{
  position:relative;
  left:50px;
  width:50em;
  height:10em;
  background:black;
  box-shadow:0em 10em 0em 0em rgb(221,0,0),0em 20em 0em 0em rgb(255,206,0);
}
body{
  font-size:10px;
  background-color:rgba(39, 39, 39, 0.68); /* Background color of Body */
}