a{
    font-size: 25px;
    text-decoration: none;
    color: blue;
    position: absolute;
}
body{
	background-color:rgba(39, 39, 39, 0.68); /* Background color of Body */
	font-size:10px;
}
.ireland{
  width:20em;
  height:30em;
  background-color:#009B48;
  position:relative;
  left:50px;
  box-shadow:20em 0em 0em 0em white,40em 0em 0em 0em #FF7900;
}